---
const { ref } = Astro.props
const books = [
  'Genesis','Exodus','Leviticus','Numbers','Deuteronomy','Joshua','Judges','Ruth','1 Samuel','2 Samuel','1 Kings','2 Kings','1 Chronicles','2 Chronicles','Ezra','Nehemiah','Esther','Job','Psalms','Proverbs','Ecclesiastes','Song of Songs','Isaiah','Jeremiah','Lamentations','Ezekiel','Daniel','Hosea','Joel','Amos','Obadiah','Jonah','Micah','Nahum','Habakkuk','Zephaniah','Haggai','Zechariah','Malachi','Matthew','Mark','Luke','John','Acts','Romans','1 Corinthians','2 Corinthians','Galatians','Ephesians','Philippians','Colossians','1 Thessalonians','2 Thessalonians','1 Timothy','2 Timothy','Titus','Philemon','Hebrews','James','1 Peter','2 Peter','1 John','2 John','3 John','Jude','Revelation'
]
function bookToInt(book) {
const idx = books.indexOf(book)
  if (idx === -1) {
    throw new Error(`Invalid book: ${book}`)
  }
  return idx+1
}
const refPattern = new RegExp(`(${books.join('|')}) (\\d+)(?::(\\d+)(?:-\\d+)?)?\\s*(?:\\((.+)\\))?`)
const match = ref.match(refPattern)
if (!match) {
  throw new Error(`Invalid bible reference: ${ref}`)
}
const [_,book,chapter,verse,version] = match
function formatLink(book, chapter, verse, version = 'ESV') {
  return `https://app.literalword.com/${version}/${bookToInt(book)}/${chapter}${verse ? `/${verse}` : ''}`
}
const link = formatLink(book, chapter, verse, version)
---

<a href={link}>{ref}</a>
